body{
  background-color: black;
  color: white ;
}
body::-webkit-scrollbar{
  visibility: hidden;
}
.cart{
  cursor: pointer; 
}
button{
  font-weight: bold !important;
}
img{
  border: 1px solid yellow;
  transition: transform 0.6s ease;
}
img:hover{
  transform: scale(1.1);
}
.icone{
 border: 2px solid gray;
 border-radius: 5px;
 background-color: white;
 font-size: 22px;
}